#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.App h1 {
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 40px 0;
  width: 1200px;
}

.container {
  border: 1px solid #575757;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td{
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  color:  rgb(31, 31, 31);
  width: 100%;
}

table th {
  background-color: white;
  color: rgb(31, 31, 31);
  padding: 12px;
}

table tr:hover {
  background-color: #eeeeee;
}


.add-todo-button {
  width: 80%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
  margin-top: 1rem;
}

.delete-todo-button {
  width: 80%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
  margin-top: 1rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}
button:hover {
  border-color: transparent;
  box-shadow: 0 2px 4px #1a1a1a;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.25s, box-shadow 0.25s;
}

input:focus {
  border-color: #575757;
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}

input[type="date"] {
  padding: 10px;
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-title {
  font-size: 1.5em;
  margin: 0;
  background-color: white;
  padding: 0 0.5em;
  color: black;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
}
